.presupuesto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   /* background: rgb(0,224,255);
background: linear-gradient(90deg, rgba(0,224,255,1) 0%, rgba(9,121,33,0.5438376034007353) 35%, rgba(0,212,255,1) 100%);*/
    background-image: linear-gradient(to right bottom, #051937, #004d7a, #008793, #00bf72, #a8eb12);
    height: 35vh;
    color: white;
}

.containerValores{
    display: flex;
flex-direction: column;
    justify-content: center;
    align-items: center;
}

.valores{
    background-color: #051937;
    width: 350px;
    height: 50px;
    display: flex;
    align-items: center;
justify-content: space-between;
padding: 10px;

}

.navbar{
    justify-content: center;
    padding: 20px;
}

.tabla{
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
}

.grafica{
    display: flex;
    justify-content: center;
    align-items: center;
}

